body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background: linear-gradient(to right, #99a7ff, #c4d7fa);
    margin: 0;
    padding-top: 30px;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px #00138b;
    width: 450px;
    flex-direction: column; /* prevents expansion*/
    align-items: center; 
    justify-content: center;
}

h1 {
    text-align: center;
    font-size: 24px;
}

.input-section {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 8px 12px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    background-color: #b3b3b3;
    cursor: not-allowed;
}

button:disabled:hover {
    background-color: #4d4949; /
}

button:hover {
    background-color: #218838;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #eee;
    padding: 8px;
    border-radius: 10px;
    margin-top: 5px;
    height: 80px;
    transition: transform 0.2s ease-in-out;
}

li.completed span {
    text-decoration: line-through;
    color: gray;
}

.edit, .delete {
    border: none;
    padding-top: 5px;
    padding: 8px;
    cursor: pointer;
}

.edit {
    background: #ffc107;
    color: white;
    margin-right: 5px;
    margin-top: 10px;
}

.delete {
    background: #dc3545;
    color: white;
}

.edit:hover {
    background: #e0a800;
}

.delete:hover {
    background: #c82333;
}

#clearAllBtn {
    width: 100%;
    background: #ff4d4d;
    margin-top: 10px;
}

#clearAllBtn:hover {
    background: #cc0000;
}


/* TASK LIST INSIDE THE BOX */
#taskList {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    width: 100%;
    max-height: 200px;
    overflow-y: auto; 
    scrollbar-width: thin;
    scrollbar-color: #999 #eee;
}

/* scrollbar */
#taskList::-webkit-scrollbar {
    width: 6px;
}

#taskList::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 10px;
}

#taskList::-webkit-scrollbar-track {
    background-color: #eee;
    border-radius: 10px;
}
